apiVersion: v1
kind: Template
metadata:
  name: xjoin

objects:
  - apiVersion: elasticsearch.k8s.elastic.co/v1
    kind: Elasticsearch
    metadata:
      name: xjoin-elasticsearch
    spec:
      http:
        service:
          metadata:
            creationTimestamp: null
          spec: {}
        tls:
          selfSignedCertificate:
            disabled: true
      version: 7.13.0
      nodeSets:
        - name: default
          count: 1
          config:
            node.store.allow_mmap: false

  - apiVersion: xjoin.cloud.redhat.com/v1alpha1
    kind: XJoinPipeline
    metadata:
      name: xjoinpipeline
    spec:
      pause: false
      ephemeral: true

  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: allow-from-xjoin-operator-namespace
    spec:
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: xjoin
      podSelector: {}
      policyTypes:
        - Ingress

  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: xjoin
    data:
      init.validation.attempts.threshold: "5"
      init.validation.interval: "15"
      init.validation.percentage.threshold: "5"
      standard.interval: "60"
      validation.attempts.threshold: "5"
      validation.interval: "60"
      validation.percentage.threshold: "5"
      debezium.connector.config: >-
        {
          "tasks.max": "{{.DebeziumTasksMax}}",
          "database.hostname": "{{.HBIDBHost}}",
          "database.port": "{{.HBIDBPort}}",
          "database.user": "{{.HBIDBUser}}",
          "database.password": "{{.HBIDBPassword}}",
          "database.dbname": "{{.HBIDBName}}",
          "database.server.name": "{{.ResourceNamePrefix}}.{{.Version}}",
          "database.sslmode": "{{.HBIDBSSLMode}}",
          "database.sslrootcert": "{{.HBIDBSSLRootCert}}",
          "table.whitelist": "public.hosts",
          "plugin.name": "pgoutput",
          "transforms": "unwrap",
          "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
          "transforms.unwrap.delete.handling.mode": "rewrite",
          "errors.log.enable": {{.DebeziumErrorsLogEnable}},
          "errors.log.include.messages": true,
          "slot.name": "{{.ReplicationSlotName}}",
          "max.queue.size": {{.DebeziumQueueSize}},
          "max.batch.size": {{.DebeziumMaxBatchSize}},
          "poll.interval.ms": {{.DebeziumPollIntervalMS}}
        }
      elasticsearch.index.template: >-
        {
          "settings": {
            "index": {
              "number_of_shards": "{{.ElasticSearchIndexShards}}",
              "number_of_replicas": "{{.ElasticSearchIndexReplicas}}",
              "default_pipeline": "{{.ElasticSearchPipeline}}",
              "max_result_window": 50000
            },
            "analysis": {
              "normalizer": {
                "case_insensitive": {
                  "filter": "lowercase"
                }
              }
            }
          },
          "mappings": {
            "dynamic": false,
            "properties": {
              "ingest_timestamp": {"type": "date"},
              "id": { "type": "keyword" },
              "account": { "type": "keyword" },
              "display_name": {
                "type": "keyword",
                "fields": {
                  "lowercase": {
                    "type": "keyword",
                    "normalizer": "case_insensitive"
                  }
                }
              },
              "created_on": { "type": "date_nanos" },
              "modified_on": { "type": "date_nanos" },
              "stale_timestamp": { "type": "date_nanos" },
              "ansible_host": { "type": "keyword" },
              "canonical_facts": {
                "type": "object",
                "properties": {
                  "fqdn": { "type": "keyword"},
                  "insights_id": { "type": "keyword"},
                  "satellite_id": { "type": "keyword"},
                  "provider_type": { "type": "keyword"},
                  "provider_id": { "type": "keyword"}
                }
              },
              "system_profile_facts": {
                "type": "object",
                "properties": {
                  "arch": { "type": "keyword" },
                  "os_release": { "type": "keyword" },
                  "os_kernel_version": { "type": "keyword"},
                  "infrastructure_type": { "type": "keyword" },
                  "infrastructure_vendor": { "type": "keyword" },
                  "sap_system": { "type": "boolean" },
                  "sap_sids": { "type": "keyword" },
                  "owner_id": { "type": "keyword"},
                  "insights_client_version": { "type": "keyword" },
                  "rhc_client_id": { "type": "keyword" },
                  "is_marketplace": { "type": "boolean" },
                  "operating_system": {
                    "type": "object",
                    "properties": {
                      "major": {"type": "byte"},
                      "minor": {"type": "byte"},
                      "name": {"type": "keyword"}
                    }
                  },
                  "host_type": { "type": "keyword" }
                }
              },
              "tags_structured": {
                "type": "nested",
                "properties": {
                  "namespace": {
                    "type": "keyword",
                    "null_value": "$$_XJOIN_SEARCH_NULL_VALUE"
                  },
                  "key": { "type": "keyword" },
                  "value": {
                    "type": "keyword",
                    "null_value": "$$_XJOIN_SEARCH_NULL_VALUE"
                  }
                }
              },
              "tags_string": {
                "type": "keyword"
              },
              "tags_search": {
                "type": "keyword"
              }
            }
          }}
