apiVersion: v1
kind: Template
metadata:
  name: xjoin-datasource

parameters:
  - name: NAME
    required: true
  - name: AVRO_SCHEMA
    required: true
  - name: DATABASE_SECRET
    required: true
  - name: DATABASE_TABLE
    required: true

objects:
  - apiVersion: xjoin.cloud.redhat.com/v1alpha1
    kind: XJoinDataSource
    metadata:
      name: ${NAME}
    spec:
      avroSchema: ${AVRO_SCHEMA}
      databaseHostname:
        valueFrom:
          secretKeyRef:
            key: hostname
            name: ${DATABASE_SECRET}
      databaseName:
        valueFrom:
          secretKeyRef:
            key: name
            name: ${DATABASE_SECRET}
      databasePassword:
        valueFrom:
          secretKeyRef:
            key: password
            name: ${DATABASE_SECRET}
      databasePort:
        valueFrom:
          secretKeyRef:
            key: port
            name: ${DATABASE_SECRET}
      databaseUsername:
        valueFrom:
          secretKeyRef:
            key: username
            name: ${DATABASE_SECRET}
      databaseTable:
        value: ${DATABASE_TABLE}