apiVersion: xjoin.cloud.redhat.com/v1alpha1
kind: XJoinIndex
metadata:
  name: test
spec:
  pause: false
  avroSchema: >
    {
      "type": "record",
      "name": "testindex",
      "fields": [{
        "type": {
          "type": "xjoindatasourcepipeline.test.Value",
          "xjoin.type": "reference"
        },
        "name": "host"
      }],
      "xjoin.transformations": [{
          "transformation": "object_to_array_of_objects",
          "input.field": "host.tags",
          "output.field": "host.tags_structured",
          "transformation.parameters": {
            "keys": "namespace,key,value"
          }
        }, {
          "transformation": "object_to_array_of_strings",
          "input.field": "host.tags",
          "output.field": "host.tags_string",
          "transformation.parameters": {
            "delimiters": "/"
          }
        }, {
          "transformation": "object_to_array_of_strings",
          "input.field": "host.tags",
          "output.field": "tags_search",
          "transformation.parameters": {
            "delimiters": ["/", "="]
          }
      }]
    }