
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: xjoinindices.xjoin.cloud.redhat.com
spec:
  group: xjoin.cloud.redhat.com
  names:
    categories:
    - all
    kind: XJoinIndex
    listKind: XJoinIndexList
    plural: xjoinindices
    shortNames:
    - xjoinindex
    singular: xjoinindex
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              avroSchema:
                type: string
              customSubgraphImages:
                items:
                  properties:
                    image:
                      type: string
                    name:
                      type: string
                  required:
                  - image
                  - name
                  type: object
                type: array
              pause:
                type: boolean
            type: object
          status:
            properties:
              activeVersion:
                type: string
              activeVersionIsValid:
                type: boolean
              dataSources:
                additionalProperties:
                  type: string
                type: object
              refreshingVersion:
                type: string
              refreshingVersionIsValid:
                type: boolean
              specHash:
                type: string
            required:
            - activeVersion
            - activeVersionIsValid
            - refreshingVersion
            - refreshingVersionIsValid
            - specHash
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
